*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Poppins';
}
:root {
  --color-primary: #DB4444; /* Red from logo & underline */
  --color-secondary: #F4A261; /* Golden from logo */

  --color-bg: #FFFFFF;
  --color-border: #E5E7EB;

  --color-heading: #4e4e4e; 
  --color-body: #6B6B6B; 
  --color-muted: #9CA3AF;

  --color-error: #DB4444; 
}